@use "utility/variables";

.container {

  /* Buttons */
  button {
    padding: .6rem .9rem;
    border: .0625rem solid variables.$clam-shell;

    background-color: variables.$finn;
    color: variables.$clam-shell;

    font-size: .8rem;

    outline: none;
    cursor: pointer;
    transition: .4s all;

    &:hover {
      background-color: variables.$clam-shell;
      color: variables.$finn;
    }
  }
}