@use "utility/variables";
@use "utility/mixins";


/* social media */
.social-media {
  padding: 0; /* remove padding-inline-start */
  margin: 0;

  @include mixins.flex(
          $flex-flow: row nowrap,
          $justify-content: center);

  list-style: none;

  li {
    border: none;
    padding: .4rem;
    margin: 1rem;

    text-indent: -9999px; /* sends the text off-screen. keep text for accessibility purpose */
    white-space: nowrap; /* because only the first line is indented */

    transition: .2s all ease-out;

    &:hover {
      box-shadow: 0 .125rem 2px variables.$finn,
      0 -.125rem .125rem variables.$finn,
      .125rem 0 .125rem variables.$finn,
      -.125rem 0 .125rem variables.$finn;
      border-radius: .3125rem;
    }

    a {
      /* display block and height 100% makes anchor clickable  */
      width: 2rem;
      height: 2rem;

      display: block;

      outline: none; /* removes outlines which show when i click on link */
      background: center / contain no-repeat;
    }

    @include mixins.addSocialIcons(1, './assets/linkedin.png');
    @include mixins.addSocialIcons(2, './assets/github.png');
    @include mixins.addSocialIcons(3, './assets/facebook.png');
    @include mixins.addSocialIcons(4, './assets/instagram.png');
  }
}


