@use "utility/variables";

h1, h2 {
    color: #5D2E46;
}

h1 {
    font-family: 'Hanalei', cursive;
    text-shadow: .0625rem .0625rem .4375rem variables.$finn;
}

h2 {
    text-shadow: .125rem .125rem .3125rem variables.$coral-tree;
}