@use "utility/placeholders";
@use "utility/variables";

/* image container with image decoration */
.container {
  .image-wrapper {
    width: 60%;
    margin-top: -10%;

    position: relative;
    bottom: -15%;
  }

  /* decoration above image ( vertical line and rotated square ) */
  .image-decoration {
    height: 1rem;

    position: relative;

    /* square rotated - small decoration above image */
    &::before {
      @extend %pseudo-element;

      width: .2rem;
      height: .2rem;
      border: .0625rem solid variables.$finn;

      background-color: variables.$finn;

      transform: translateX(-50%) rotate(45deg);
    }

    /* the line leading to square rotated */
    &::after {
      @extend %pseudo-element;

      height: 100%;
      border-right: .1px solid variables.$finn;
      bottom: 0;
    }
  }
}