@forward 'utility/mixins';
@use 'utility/variables';
@use 'utility/mixins';
@use 'images';
@use 'buttons';

.container {
  @include mixins.flex($flex-flow: row wrap, $justify-content: center);

  margin-bottom: 5rem;

  section {
    @include mixins.flex($flex-flow: column nowrap, $align-items: center);
    position: relative;

    margin: 5rem 0.7rem;

    background-color: variables.$bone;
    box-shadow: 0.1rem 0.1rem 0.5rem variables.$finn;

    /* Section decoration - lines on back of section and image  */
    &::before {
      content: '';

      width: 77%;
      height: 100%;
      border: 0.0625rem solid variables.$coral-tree;

      position: absolute;
      bottom: -5%;
      left: 50%;
      z-index: -5;

      transform: translateX(-50%);
    }

    p {
      max-width: 55%;
    }

    @media only screen and (min-width: 468px) {
      max-width: 80%;
    }

    @media only screen and (min-width: 768px) {
      min-width: 30rem;
      max-width: 40%;

      box-shadow: 0.1rem 0.1rem 1rem variables.$finn;
    }

    @media only screen and (min-width: 1440px) {
      max-width: 25%;
    }
  }
}
