.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 5rem;
}

section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;

    margin: 5rem .7rem;
    position: relative;
    background-color: #D0ADA7;
}

/* section decoration - lines on back of section and image  */
section::before {
    content: "";
    width: 77%;
    height: 100%;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
    border: .0625rem solid #AD6A6C;
    z-index: -5;
}

section p {
    max-width: 55%;
}

/* button */
button {
    font-size: .8rem;
    padding: .6rem .9rem;
    border: .0625rem solid #B58DB6;
    background-color: #5D2E46;
    color: #B58DB6;
    cursor: pointer;
    transition: .4s all;
    outline: none;
}

button:hover {
    background-color: #B58DB6;
    color: #5D2E46;
}

/* image container with image decoration */
.image-wrapper {
    width: 60%;
    position: relative;
    bottom: -15%;
    margin-top: -10%;
}

/* image decoration */
.image-decoration {
    height: 1rem;
    position: relative;

}

.image-decoration::before, .image-decoration::after {
    content: "";
    position: absolute;
    left: 50%;
}

/* square rotated - small decoration above image */
.image-decoration::before {
    width: .2rem;
    height: .2rem;
    border: .0625rem solid #5D2E46;
    background-color: #5D2E46;
    transform: translateX(-50%) rotate(45deg);
}

/* the line leading to square rotated */
.image-decoration::after {
    border-right: .0625rem solid #5D2E46;
    height: 100%;
    bottom: 0;
    transform: translateX(-50%);
}

/* image */
img {
    width: 100%;
    box-shadow: .1rem .1rem 2rem #5D2E46;
}


@media only screen and (min-width: 468px) {
    section {
        max-width: 80%;
    }
}


@media only screen and (min-width: 768px) {
    section {
        min-width: 30rem;
        max-width: 40%;
    }
}

@media only screen and (min-width: 1440px) {
    section {
        max-width: 25%;
    }
}