h1, h2 {
  color: #5D2E46;
}

h1 {
  font-family: "Hanalei", cursive;
  text-shadow: 0.0625rem 0.0625rem 0.4375rem #5D2E46;
}

h2 {
  text-shadow: 0.125rem 0.125rem 0.3125rem #AD6A6C;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 5rem;
}
.container section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  margin: 5rem 0.7rem;
  position: relative;
  background-color: #D0ADA7;
  /* section decoration - lines on back of section and image  */
  /* button */
  /* image container with image decoration */
  /* image decoration */
  /* square rotated - small decoration above image */
  /* the line leading to square rotated */
  /* image */
}
.container section::before {
  content: "";
  width: 77%;
  height: 100%;
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  border: 0.0625rem solid #AD6A6C;
  z-index: -5;
}
.container section p {
  max-width: 55%;
}
.container section button {
  font-size: 0.8rem;
  padding: 0.6rem 0.9rem;
  border: 0.0625rem solid #B58DB6;
  background-color: #5D2E46;
  color: #B58DB6;
  cursor: pointer;
  transition: 0.4s all;
  outline: none;
}
.container section button:hover {
  background-color: #B58DB6;
  color: #5D2E46;
}
.container section .image-wrapper {
  width: 60%;
  position: relative;
  bottom: -15%;
  margin-top: -10%;
}
.container section .image-decoration {
  height: 1rem;
  position: relative;
}
.container section .image-decoration::before, .container section .image-decoration::after {
  content: "";
  position: absolute;
  left: 50%;
}
.container section .image-decoration::before {
  width: 0.2rem;
  height: 0.2rem;
  border: 0.0625rem solid #5D2E46;
  background-color: #5D2E46;
  transform: translateX(-50%) rotate(45deg);
}
.container section .image-decoration::after {
  border-right: 0.0625rem solid #5D2E46;
  height: 100%;
  bottom: 0;
  transform: translateX(-50%);
}
.container section img {
  width: 100%;
  box-shadow: 0.1rem 0.1rem 1rem #5D2E46;
}

@media only screen and (min-width: 468px) {
  section {
    max-width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  section {
    min-width: 30rem;
    max-width: 40%;
    box-shadow: 0.1rem 0.1rem 1rem #5D2E46;
  }
}
@media only screen and (min-width: 1440px) {
  section {
    max-width: 25%;
  }
}
/* social media */
.social-media {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 0;
  /* remove padding-inline-start */
  margin: 0;
  list-style: none;
}
.social-media li {
  text-indent: -9999px;
  /* sends the text off-screen. keep text for accessibility purpose */
  white-space: nowrap;
  /* because only the first line is indented */
  border: none;
  padding: 0.4rem;
  margin: 1rem;
  transition: 0.2s all ease-out;
}
.social-media a {
  /* display block and height 100% makes anchor clickable  */
  display: block;
  width: 2rem;
  height: 2rem;
  outline: none;
  /* removes outlines which show when i click on link */
  background: center/contain no-repeat;
}
.social-media li:hover {
  box-shadow: 0 0.125rem 2px #5D2E46, 0 -0.125rem 0.125rem #5D2E46, 0.125rem 0 0.125rem #5D2E46, -0.125rem 0 0.125rem #5D2E46;
  border-radius: 0.3125rem;
}
html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Old versions of Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  user-select: none;
  font-family: "Josefin Sans", sans-serif;
  background-color: #E8D6CB;
  /* move footer to the bottom of the page if there is not enough content */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body main {
  flex: 1;
}
body h1, body h2, body footer {
  text-align: center;
}
body p {
  color: #AD6A6C;
}
body button, body section, body img, body section::before {
  border-radius: 0.4rem;
}

/*# sourceMappingURL=index.css.map */
