@use "app/scss/header";
@use "app/scss/main";
@use "app/scss/footer";
@use "app/scss/utility/variables";

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Konqueror HTML */
  -khtml-user-select: none;
  /* Old versions of Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  user-select: none;

  font-family: 'Josefin Sans', sans-serif;

  background-color: variables.$bone;
  /* move footer to the bottom of the page if there is not enough content */
  display: flex;
  flex-direction: column;
  @include main.flex($flex-direction: column);
  min-height: 100vh;

  main {
    flex: 1;
  }

  h1, h2, footer, p {
    text-align: center;
  }

  p {
    color: variables.$coral-tree;
  }

  button, section, img, section::before {
    border-radius: .4rem;
  }

  /* image */
  img {
    width: 100%;

    box-shadow: .1rem .1rem 1rem variables.$finn;
  }
}


